html {
    background-color: rgba(0, 0, 0, 0.33);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 33;
    background-color: rgba(0, 0, 0, 0.33);
}
.text{
    text-align: center;
}